@import 'reset.less';
@import 'PresentationView.less';

@qr-code-size: 128px;
@desj-green: #008c53;

@jan-color: #E57373;
@feb-color: #9575CD;
@mar-color: #4DD0E1;
@apr-color: #9E9E9E;
@may-color: #1B5E20;
@jun-color: #B39DDB;
@jul-color: #C62828;
@aug-color: #FBC02D;
@sep-color: #1976D2;
@oct-color: #E65100;
@nov-color: #FBB040;
@dec-color: #00E5FF;
