@import 'reset.less';
@import 'PresentationView.less';

@qr-code-size: 128px;
@desj-green: #008c53;

@jan-color: #FBB040;
@feb-color: #29AAE2;
@mar-color: #FF6F00;
@apr-color: #12925D;
@may-color: #FFFFFF;
@jun-color: #FFFFFF;
@jul-color: #FFFFFF;
@aug-color: #FFFFFF;
@sep-color: #FFFFFF;
@oct-color: #FFFFFF;
@nov-color: #FFFFFF;
@dec-color: #FFFFFF;
