body {
  margin: 0em;
}

.kiosk-swiper {
  text-align: center;
}

.progressBar .empty {
  transition: none !important;
}

.eventListItem {
  background-color: #80DEEA;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  margin: 15px;
  padding: 30px;
  overflow: auto;
  clear: both;

  .details {
    h2.title {
      top:5px;
      left: 5px;
    }

    div.speaker {

    }
  }

  img.thumbnail {
    float:left;
    max-height: 200px;
    max-width: 200px;
  }
}

.imageSlide {

}
