body {
  height: 100%;
  font-family: Calibri, Arial;
  font-size: 20px;
  padding-bottom: 50px;
  user-select: none;
}

.kiosk-content {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h1, h2, h3 {
    font-weight: bold;
    font-family: "PT Sans Narrow";
    text-transform: uppercase;
  }
}

.progressBar {
  position: fixed !important;
  top: 0;
  height: 2px !important;
  z-index: 100000 !important;
  background-color: transparent !important;

  div {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(255, 0, 0, 0.9)) !important;
  }

  .empty {
    transition: none !important;
  }
}

.leftNav {
  svg {
    position: relative; top: 4px;
    width: 18px;
    height: auto;
  }
  .nav-home {
    span { position: relative; left: 5px; }
  }
  .nav-page-label {
    position: relative; left: 5px;
  }

}

.appBar {
  position: fixed !important;
  text-align: left;
  background-color: @desj-green !important;

  transition: opacity .15s ease-in-out;

  h1 {
    font-size: 32px !important;
  }
}

div.date {
  text-transform: capitalize;
}

div.eventListView {
  padding-top: 64px;
  width: 100%;

  div.eventsByMonth {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;

    h1.month {
      display: flex;
      justify-content: flex-start;
      font-size: 60px;
      padding: 0.5em 1.2em;
      color: #FFFFFF;
    }

    .eventsList {
      margin: 1em 0em;
    }
  }
}


div.eventCard {
  padding: 0.5em 0px;
  margin-right: 1em;
  display: flex;

  div.dateInfo {
    display: flex;
    justify-content: center;
    width: 15%;
    padding: 30px;
  }

  div.eventListItem {
    width: 80%;
    text-align: left;
    text-overflow: ellipsis;
    position: relative;
    padding: 30px;
    margin-right: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    .details {
      display: flex;
      padding-top: 0.25em;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px black;
      text-align: left;

      h2.title {
        display: block;
        line-height: 1em;
        max-height: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .time {
        color: #808285;
        padding-top: 0.5em;
        font-size: 32px;
        font-weight: bold;
      }

      h3.subtitle {
        color: #808285;
        padding-top: 0.5em;
        font-size: 24px;
        min-height: 1em;
      }
    }

    .chevronRight {
      display: flex;
      flex-direction: column;
      justify-content: center;

      svg {
        padding: 1em;
        width: 48px !important;
        height: 48px !important;
      }
    }
  }
}

article.eventDetails {
  padding-top: 64px;

  .headerImage {
    width: 100%;
    max-height: 500px;
  }

  h1.eventTitle {
    width: 85%;
    margin: auto;
    padding: 0.5em 50px;
  }

  .details {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;

    .timeLocationInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      width: 50%;
      font-size: 42px;

      div {
        padding: 5px
      }
    }

    .dateInfo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .QRCodeWrapper {
      width: 25%;
      display: flex;
      justify-content: center;
    }
  }

  .desc {
    width: 85%;
    margin: auto;
    padding: 0px 50px;
    text-align: justify;

    p {
      font-size: 30px;
      margin-top: 1em;
    }
  }

  .speakersList {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;

    .speaker {
      width: 85%;
      margin: auto;
      padding-bottom: 1em;
      display: flex;
      justify-content: space-between;

      div.avatar {
        display: flex;
        justify-content: center;

        img {
          width: 25%;
          align-self: center;

          border-radius: 50%;
          width: 200px;
          height: 200px;
        }
      }

      .details {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 30px;

        div {
          padding: 0.5em 0.25em;
        }

        .name {
          font-weight: bold;
        }

        .bio {
          font-weight: ligther;
        }
      }
    }
  }
}

.dateInfo {
  width: 25%;


  .dateDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .month {
      font-size: 38px;
      text-transform: capitalize;
    }

    .date {
      font-weight: bold;
      font-size: 90px;
    }

    .day {
      font-size: 32px;
      text-transform: capitalize;
    }
  }
}

.imageSlide img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.staticHtmlPage {
  padding-top: 79px;
}

// Alternating colors for months.
//jan
.month0 {

  h1.month {
    background-color: @jan-color;
  }

  div.dateInfo {
    color: @jan-color;
    border-right: 5px solid @jan-color;
  }
}

//feb
.month1 {

  h1.month {
    background-color: @feb-color;
  }

  div.dateInfo {
    color: @feb-color;
    border-right: 5px solid @feb-color;
  }
}

//mar
.month2 {

  h1.month {
    background-color: @mar-color;
  }

  div.dateInfo {
    color: @mar-color;
    border-right: 5px solid @mar-color;
  }
}

//apr
.month3 {

  h1.month {
    background-color: @apr-color;
  }

  div.dateInfo {
    color: @apr-color;
    border-right: 5px solid @apr-color;
  }
}

//may
.month4 {

  h1.month {
    background-color: @may-color;
  }

  div.dateInfo {
    color: @may-color;
    border-right: 5px solid @may-color;
  }
}

//june
.month5 {

  h1.month {
    background-color: @jun-color;
  }

  div.dateInfo {
    color: @jun-color;
    border-right: 5px solid @jun-color;
  }
}

//july
.month6 {

  h1.month {
    background-color: @jul-color;
  }

  div.dateInfo {
    color: @jul-color;
    border-right: 5px solid @jul-color;
  }
}

//aug
.month7 {

  h1.month {
    background-color: @aug-color;
  }

  div.dateInfo {
    color: @aug-color;
    border-right: 5px solid @aug-color;
  }
}

//sept
.month8 {

  h1.month {
    background-color: @sep-color;
  }

  div.dateInfo {
    color: @sep-color;
    border-right: 5px solid @sep-color;
  }
}

//oct
.month9 {

  h1.month {
    background-color: @oct-color;
  }

  div.dateInfo {
    color: @oct-color;
    border-right: 5px solid @oct-color;
  }
}

//nov
.month10 {

  h1.month {
    background-color: @nov-color;
  }

  div.dateInfo {
    color: @nov-color;
    border-right: 5px solid @nov-color;
  }
}

//dec
.month11 {

  h1.month {
    background-color: @dec-color;
  }

  div.dateInfo {
    color: @dec-color;
    border-right: 5px solid @dec-color;
  }
}
