{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <title>Desjardins Lab - {{kiosk}}</title>
      <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
      <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body oncontextmenu="return false">
      <div id="root">
          <!-- components render here -->

      </div>

      <script type="text/javascript">var KIOSK_SOURCE = './data/';</script>
      <script type="text/javascript" src="{% static "kiosks/bundle.js" %}"></script>
  </body>
</html>
